<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <div class="ion-margin-vertical">
    <ion-avatar>
      <img src="../../../assets/icon/avatar.svg">
    </ion-avatar>
  </div>
  <form class="ion-margin-top">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked" [(ngModel)]="user.firstName">First Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Last Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Update Profile</ion-button>
    </div>
  </form>

</ion-content>

