ion-avatar {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    margin-top: var(--ion-margin);
    margin-bottom: var(--ion-margin);
    position: relative;
    ion-fab {
        position: absolute;
        bottom: 5px;
        right: 5px;
        ion-fab-button {
            width: 24px;
            height: 24px;
            // --box-shadow: none;
            ion-icon {
                font-size: 14px;
            }
        }
    }
}